/*NORMALIZACION*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    color: black;

}
/* HEAD */
header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 5;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 5%;

}

.logo {
    font-size: 42px;
    font-family: "Jacquarda Bastarda 9", serif;
    font-weight: 400;
    text-shadow: white 0 0 0;
    transition: all .5s ease;
}

.logo:hover{
    text-shadow: black 2px 0 10px;
}

.nav-bar{
    display: flex;

}

.nav-bar a {
    margin: 20px;
    font-family: "Afacad Flux", sans-serif;
    font-weight: 600;
    font-size: 22px;
    border-bottom: 2px dashed transparent;
    transition: all .5s ease;
}

.nav-bar a:hover {
    border-bottom: 2px dashed black;
}

#menu-icon {
    display: none;
}

#menu-icon{
    color: black;
    font-size: 32px;
    cursor: pointer;

}
#menu-toggle {
    display: none;
}

.menu-icon-action {
    display: none;
}
/* Hero */

.hero {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: grid;
    position: relative;
    grid-template-columns: 1fr;
    align-items: center;
    gap: 1rem;
}

section {
    padding: 0 15%;
    margin-left: 0%;
}

.hero-text {
    text-align: center;
}

.hero-text h5 {
    margin-bottom: 20px;
}

.hero-text h1 {
    font-size: 28px;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 90%;
    margin-bottom: 45px;
    line-height: 1.4;
}

.hero-text a {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 10px 15px;
    letter-spacing: 1px;
    font-weight: 500;
    border: 2px solid transparent;
    border-radius: 5px;
    text-transform: uppercase;
    transition: all 0.5s ease;
}

.hero-text a:hover {
    border-radius: 15px;
    border: 2px solid black;
    background: transparent;
    color: black;
}

@media (max-width: 992px) {

    section {
        padding: 0 5%;
        transition: all .2s ease;
    }

    .hero-text {
        padding-top: 0;
    }

    .hero-text p {
        font-size: 70%;
    }
}

@media (max-width: 768px) {
    .menu-icon-action {
        display: block;
    }
    
    #menu-icon {
        display: block;
    }

    .hero-text {
        text-align: center;
        padding-top: 100px;
    }

    .hero {
        height: 100%;
        gap: 1rem;
    }

    .nav-bar {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 300px;
        height: 230px;
        background-color: #0000006b;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 25px 15px;
        transition: all 0.5s ease-out;
    }

    .nav-bar a {
        display: block;
        margin: 7px 0;
    }

    #menu-toggle:checked + label.menu-icon-action + ul{
        right: 0;
    }
}